<ul class="list-group">
    <li class="list-group-item list-group-item-info">Title</li>
    <li class="list-group-item">{{currentBook.title}}</li>
    <li class="list-group-item list-group-item-info">Author</li>
    <li class="list-group-item">{{currentBook.author}}</li>
    <li class="list-group-item list-group-item-info">Category</li>
    <li class="list-group-item">{{currentBook.category}}</li>
    <li class="list-group-item list-group-item-info">Checked Out</li>
    <li class="list-group-item">{{currentBook.checkedOut}}</li>
  </ul> 