<form (ngSubmit)="UpdateBook()">
    <label>Title:</label>
    <br>
    <input type="text" [(ngModel)]="currentBook.title" name="title">
    <br>
    <label>Author:</label>
    <br>
    <input type="text" [(ngModel)]="currentBook.author" name="author">
    <br>
    <label>Category:</label>
    <br>
    <input type="text" [(ngModel)]="currentBook.category" name="category">
    <br>
    <label>Number of Holds:</label>
    <br>
    <input type="checkbox"[(ngModel)]="currentBook.checkedOut" name="checkedOut">
    <br>
    <button type="submit">Update Book</button>
</form>