<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="background-color: red;">Col 1</div>
        <div class="col-sm-4" style="background-color: aqua;">Col 2 </div>
        <div class="col-sm-4" style="background-color: orange;">Col 3</div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="background-color: blue;">Col 1</div>
        <div class="col-sm-5" style="background-color: chartreuse;">Col 2</div>
        <div class="col-sm-4" style="background-color: brown;">Col 3</div>
    </div>
</div>