<div class="container-fluid">
    <div class="row">
        <div class="col cell">
            <h2 class="text-center">About</h2>
            <p>A Library Management System created using Angular and Springboot.</p>
        </div>
        <div class="col cell">
            <h2 class="text-center">Popular Books</h2>
            <ol>
                <li>Lord of the Rings</li>
                <li>Programming 101</li>
            </ol>
        </div>
        <div class="col cell">
            <h2 class="text-center">Popular Authors</h2>
            <ol>
                <li>JRR Tolkien</li>
                <li>George RR Martin</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col cell">
            <h2 class="text-center">Categories</h2>
            <ul>
                <li>Fantasy</li>
                <li>Science Fiction</li>
            </ul>
        </div>
        <div class="col cell">
            <h2 class="text-center">Sources</h2>
            <ul>
                <li>Google</li>
            </ul>
        </div>
        <div class="col cell">
            <h2 class="text-center">Contact Us</h2>
            <ul>
                <li>Collin Walker</li>
                <li>Brady Reynolds</li>
                <li>Pedro Polanco</li>
                <li>Ben Stein</li>
                <li>Buonkuang Priestley</li>
                <li>Connor Kline</li>
            </ul>
        </div>
    </div>
</div>